.message-input {
    padding: 25px;
    display: flex;
    align-items: center;
}

.message-input .message-input-text {
    min-height: 75px;
    width: 90%;
    resize: none;
}

.message-input .message-submit-button {
    aspect-ratio: 1/1;
    height: 30px;
    margin-left: 20px;
    background: none;
    color: inherit;
    font-size: 1.3em;
    padding: 0;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    outline: inherit;
}