.chat {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat .chat-logo-link {
    color: black;
    text-decoration: none;
}

.chat .logo {
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: flex-end;
}

.chat .logo img {
    height: 40px;
}

.chat .logo .logo-name {
    font-size: 1.6em;
    font-weight: bold;
    margin-left: 5px;
}

.chat .chat-content {
    width: 75%;
    align-self: center;
    position: relative;
}

.chat footer {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chat footer .footer-text {
    padding: 5px;
    background-color: gray;
    color: white;
}