.preloader {
    height: 100%;
    width: 100%;
    padding: inherit;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.preloader .preloader-content {
    height: 100%;
    width: 100%;
    background-color: white;
}

.preloader-logo {
    height: 100%;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .preloader-logo {
        animation: App-logo-spin infinite 5s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}