.header {
    height: 50px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.header .left-part {
    display: flex;
    justify-content: space-between;
}

.header .left-part>* {
    margin: 5px;
}

.header .right-part>* {
    margin: 5px;
}