.message-list {
    padding: 0;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}

.message-list>* {
    margin: 15px 5px;
}

.messages-divider {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.messages-divider-text {
    padding: 5px;
    background-color: gray;
    color: white;
}

.message {
    width: 60%;
    min-width: 350px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.message .message-user-avatar {
    height: 100px;
    padding: 5px;
}

.message .user-avatar {
    aspect-ratio: 1/1;
    height: 90px;
    border-radius: 50%;
}

.message-right-part {
    min-width: 150px;
}

.message .message-right-part {
    margin-left: 10px;
}

.message .message-user-name {
    color: darkslategray;
    font-weight: bold;
}

.message-middle-part {
    display: flex;
    justify-content: space-between;
}

.message-time {
    color: gray;
    font-size: 0.8em;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
}

.message .message-like {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

.message .message-like button {
    aspect-ratio: 1/1;
    height: 30px;
    background: none;
    color: inherit;
    font-size: 1.3em;
    padding: 0;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    outline: inherit;
}

.own-message {
    width: 60%;
    min-width: 350px;
    min-height: 100px;
    background-color: #F0F0F0;
    margin-left: auto;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.own-message .own-message-top-part {
    display: flex;
}

.own-message .own-message-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.own-message .own-message-buttons button {
    aspect-ratio: 1/1;
    height: 30px;
    background: none;
    color: inherit;
    font-size: 1.3em;
    padding: 0;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    outline: inherit;
}

.own-message .own-message-edit-link {
    color: black;
    text-decoration: none;
}

.editor-page {
    width: 75%;
    flex: 1;
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.editor-page .editor-header {
    height: 30px;
    font-size: 1.2em;
    text-align: center;
}

.editor-input {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.editor-input .editor-input-text {
    flex: 1;
    width: calc(100% - 40px);
    margin: 20px;
    resize: none;
}

.editor-buttons {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.editor-buttons>* {
    aspect-ratio: 1/1;
    height: 30px;
    margin-left: 5px;
    background: none;
    color: inherit;
    font-size: 1.3em;
    padding: 0;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    outline: inherit;
}